USE [movie_plus]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 7/10/2020 11:58:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditLogger]    Script Date: 7/10/2020 11:58:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLogger](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UseCaseName] [nvarchar](max) NULL,
	[Data] [nvarchar](max) NULL,
	[Actor] [nvarchar](max) NULL,
	[Time] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_AuditLogger] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Auditoriums]    Script Date: 7/10/2020 11:58:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Auditoriums](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
	[IsActive] [bit] NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_Auditoriums] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movies]    Script Date: 7/10/2020 11:58:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movies](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
	[IsActive] [bit] NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](1500) NOT NULL,
	[Duration] [int] NOT NULL,
	[Image] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Movies] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservations]    Script Date: 7/10/2020 11:58:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
	[IsActive] [bit] NOT NULL,
	[UserId] [int] NOT NULL,
	[ScreeningId] [int] NOT NULL,
 CONSTRAINT [PK_Reservations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Screenings]    Script Date: 7/10/2020 11:58:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Screenings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
	[IsActive] [bit] NOT NULL,
	[MovieId] [int] NOT NULL,
	[AuditoriumId] [int] NOT NULL,
	[ScreeningTime] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Screenings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SeatReserved]    Script Date: 7/10/2020 11:58:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SeatReserved](
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
	[IsActive] [bit] NOT NULL,
	[SeatId] [int] NOT NULL,
	[ReservationId] [int] NOT NULL,
	[ScreeningId] [int] NOT NULL,
 CONSTRAINT [PK_SeatReserved] PRIMARY KEY CLUSTERED 
(
	[SeatId] ASC,
	[ScreeningId] ASC,
	[ReservationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seats]    Script Date: 7/10/2020 11:58:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seats](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
	[IsActive] [bit] NOT NULL,
	[Number] [int] NOT NULL,
	[AuditoriumId] [int] NOT NULL,
 CONSTRAINT [PK_Seats] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 7/10/2020 11:58:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
	[IsActive] [bit] NOT NULL,
	[FirstName] [nvarchar](32) NOT NULL,
	[LastName] [nvarchar](32) NOT NULL,
	[Email] [nvarchar](max) NULL,
	[Username] [nvarchar](32) NOT NULL,
	[Password] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserUseCases]    Script Date: 7/10/2020 11:58:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserUseCases](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
	[IsActive] [bit] NOT NULL,
	[UserId] [int] NOT NULL,
	[UseCaseId] [int] NOT NULL,
 CONSTRAINT [PK_UserUseCases] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20200629103944_initial', N'3.1.5')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20200629104256_use-case seeder', N'3.1.5')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20200629105359_update one to one rel', N'3.1.5')
GO
SET IDENTITY_INSERT [dbo].[AuditLogger] ON 

INSERT [dbo].[AuditLogger] ([Id], [UseCaseName], [Data], [Actor], [Time]) VALUES (1, N'Get movies', N'{"Title":null,"Description":null,"Time":"15","Date":"2020-07-10","Duration":0,"ItemsPerPage":10,"CurrentPage":1}', N'adminAdmin', CAST(N'2020-07-10T21:40:15.1399335' AS DateTime2))
INSERT [dbo].[AuditLogger] ([Id], [UseCaseName], [Data], [Actor], [Time]) VALUES (2, N'Get movies', N'{"Title":null,"Description":null,"Time":"15","Date":"2020-07-10","Duration":0,"ItemsPerPage":10,"CurrentPage":1}', N'adminAdmin', CAST(N'2020-07-10T21:40:22.0433344' AS DateTime2))
INSERT [dbo].[AuditLogger] ([Id], [UseCaseName], [Data], [Actor], [Time]) VALUES (3, N'Get users', N'{"FirstName":null,"LastName":null,"Email":null,"Usernam":null,"ItemsPerPage":10,"CurrentPage":1}', N'adminAdmin', CAST(N'2020-07-10T21:40:24.8923191' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[AuditLogger] OFF
GO
SET IDENTITY_INSERT [dbo].[Auditoriums] ON 

INSERT [dbo].[Auditoriums] ([Id], [CreatedAt], [UpdatedAt], [IsDeleted], [DeletedAt], [IsActive], [Name]) VALUES (1, CAST(N'2020-07-10T23:44:03.9522987' AS DateTime2), NULL, 0, NULL, 1, N'Auditorium 1')
INSERT [dbo].[Auditoriums] ([Id], [CreatedAt], [UpdatedAt], [IsDeleted], [DeletedAt], [IsActive], [Name]) VALUES (2, CAST(N'2020-07-10T23:44:03.9523948' AS DateTime2), NULL, 0, NULL, 1, N'Auditorium 2')
INSERT [dbo].[Auditoriums] ([Id], [CreatedAt], [UpdatedAt], [IsDeleted], [DeletedAt], [IsActive], [Name]) VALUES (3, CAST(N'2020-07-10T23:44:03.9523995' AS DateTime2), NULL, 0, NULL, 1, N'Auditorium 3')
SET IDENTITY_INSERT [dbo].[Auditoriums] OFF
GO
SET IDENTITY_INSERT [dbo].[Movies] ON 

INSERT [dbo].[Movies] ([Id], [CreatedAt], [UpdatedAt], [IsDeleted], [DeletedAt], [IsActive], [Title], [Description], [Duration], [Image]) VALUES (1, CAST(N'2020-07-10T23:44:03.9513501' AS DateTime2), NULL, 0, NULL, 1, N'The Shawshank Redemption ', N'Two imprisoned men bond over a number of years, finding solace and eventual redemption through acts of common decency.', 142, N'd72a304f-b6b0-466f-806d-505756825176.jpg')
INSERT [dbo].[Movies] ([Id], [CreatedAt], [UpdatedAt], [IsDeleted], [DeletedAt], [IsActive], [Title], [Description], [Duration], [Image]) VALUES (2, CAST(N'2020-07-10T23:44:03.9517181' AS DateTime2), NULL, 0, NULL, 1, N'The Godfather', N'The aging patriarch of an organized crime dynasty transfers control of his clandestine empire to his reluctant son.', 175, N'6d5dd6aa-477a-4a6d-9e32-1133607881c5.jpg')
INSERT [dbo].[Movies] ([Id], [CreatedAt], [UpdatedAt], [IsDeleted], [DeletedAt], [IsActive], [Title], [Description], [Duration], [Image]) VALUES (3, CAST(N'2020-07-10T23:44:03.9517317' AS DateTime2), NULL, 0, NULL, 1, N'The Dark Knight', N'When the menace known as the Joker wreaks havoc and chaos on the people of Gotham, Batman must accept one of the greatest psychological and physical tests of his ability to fight injustice.', 152, N'38e87283-fa50-4509-8a34-0b92afda5cc2.jpg')
SET IDENTITY_INSERT [dbo].[Movies] OFF
GO
SET IDENTITY_INSERT [dbo].[Reservations] ON 

INSERT [dbo].[Reservations] ([Id], [CreatedAt], [UpdatedAt], [IsDeleted], [DeletedAt], [IsActive], [UserId], [ScreeningId]) VALUES (5, CAST(N'2020-07-10T23:40:42.7029239' AS DateTime2), NULL, 0, NULL, 1, 1, 8)
INSERT [dbo].[Reservations] ([Id], [CreatedAt], [UpdatedAt], [IsDeleted], [DeletedAt], [IsActive], [UserId], [ScreeningId]) VALUES (6, CAST(N'2020-07-10T23:50:20.5240656' AS DateTime2), NULL, 0, NULL, 1, 1, 22)
INSERT [dbo].[Reservations] ([Id], [CreatedAt], [UpdatedAt], [IsDeleted], [DeletedAt], [IsActive], [UserId], [ScreeningId]) VALUES (7, CAST(N'2020-07-10T23:50:27.2132210' AS DateTime2), NULL, 0, NULL, 1, 1, 22)
SET IDENTITY_INSERT [dbo].[Reservations] OFF
GO
SET IDENTITY_INSERT [dbo].[Screenings] ON 

INSERT [dbo].[Screenings] ([Id], [CreatedAt], [UpdatedAt], [IsDeleted], [DeletedAt], [IsActive], [MovieId], [AuditoriumId], [ScreeningTime]) VALUES (1, CAST(N'2020-07-10T23:44:03.9518539' AS DateTime2), NULL, 0, NULL, 1, 1, 1, CAST(N'2020-07-04T15:00:00.0000000' AS DateTime2))
INSERT [dbo].[Screenings] ([Id], [CreatedAt], [UpdatedAt], [IsDeleted], [DeletedAt], [IsActive], [MovieId], [AuditoriumId], [ScreeningTime]) VALUES (2, CAST(N'2020-07-10T23:44:03.9521633' AS DateTime2), NULL, 0, NULL, 1, 2, 2, CAST(N'2020-07-02T15:00:00.0000000' AS DateTime2))
INSERT [dbo].[Screenings] ([Id], [CreatedAt], [UpdatedAt], [IsDeleted], [DeletedAt], [IsActive], [MovieId], [AuditoriumId], [ScreeningTime]) VALUES (3, CAST(N'2020-07-10T23:44:03.9521739' AS DateTime2), NULL, 0, NULL, 1, 3, 2, CAST(N'2020-07-03T15:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Screenings] OFF
GO
INSERT [dbo].[SeatReserved] ([CreatedAt], [UpdatedAt], [IsDeleted], [DeletedAt], [IsActive], [SeatId], [ReservationId], [ScreeningId]) VALUES (CAST(N'2020-07-10T23:53:54.3166172' AS DateTime2), NULL, 0, NULL, 1, 6, 21, 12)
INSERT [dbo].[SeatReserved] ([CreatedAt], [UpdatedAt], [IsDeleted], [DeletedAt], [IsActive], [SeatId], [ReservationId], [ScreeningId]) VALUES (CAST(N'2020-07-10T23:51:00.6305839' AS DateTime2), NULL, 0, NULL, 1, 7, 10, 25)
INSERT [dbo].[SeatReserved] ([CreatedAt], [UpdatedAt], [IsDeleted], [DeletedAt], [IsActive], [SeatId], [ReservationId], [ScreeningId]) VALUES (CAST(N'2020-07-10T23:52:41.2855458' AS DateTime2), NULL, 0, NULL, 1, 8, 15, 12)
GO
SET IDENTITY_INSERT [dbo].[Seats] ON 

INSERT [dbo].[Seats] ([Id], [CreatedAt], [UpdatedAt], [IsDeleted], [DeletedAt], [IsActive], [Number], [AuditoriumId]) VALUES (1, CAST(N'2020-07-10T23:44:03.9525091' AS DateTime2), NULL, 0, NULL, 1, 1, 1)
INSERT [dbo].[Seats] ([Id], [CreatedAt], [UpdatedAt], [IsDeleted], [DeletedAt], [IsActive], [Number], [AuditoriumId]) VALUES (2, CAST(N'2020-07-10T23:44:03.9526881' AS DateTime2), NULL, 0, NULL, 1, 2, 1)
INSERT [dbo].[Seats] ([Id], [CreatedAt], [UpdatedAt], [IsDeleted], [DeletedAt], [IsActive], [Number], [AuditoriumId]) VALUES (3, CAST(N'2020-07-10T23:44:03.9526945' AS DateTime2), NULL, 0, NULL, 1, 3, 1)
SET IDENTITY_INSERT [dbo].[Seats] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [CreatedAt], [UpdatedAt], [IsDeleted], [DeletedAt], [IsActive], [FirstName], [LastName], [Email], [Username], [Password]) VALUES (1, CAST(N'2020-07-10T23:44:03.9439543' AS DateTime2), NULL, 0, NULL, 1, N'Admin', N'Admin', N'admin@gmail.com', N'adminAdmin', N'A12450CFF6FB7A97C975BFB7FCBB8F7E')
INSERT [dbo].[Users] ([Id], [CreatedAt], [UpdatedAt], [IsDeleted], [DeletedAt], [IsActive], [FirstName], [LastName], [Email], [Username], [Password]) VALUES (3, CAST(N'2020-07-10T23:52:13.0895423' AS DateTime2), NULL, 0, NULL, 1, N'User', N'User', N'user@gmail.com', N'userUser', N'B4D1A9DE821CCF32107A1F3C846EC5E3')
INSERT [dbo].[Users] ([Id], [CreatedAt], [UpdatedAt], [IsDeleted], [DeletedAt], [IsActive], [FirstName], [LastName], [Email], [Username], [Password]) VALUES (4, CAST(N'2020-07-10T23:53:25.1951505' AS DateTime2), NULL, 0, NULL, 1, N'User2', N'User2', N'user2@gmail.com', N'userUser2', N'7206FC1DB018E7F7489F411BDB9E7CA4')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[UserUseCases] ON 

INSERT [dbo].[UserUseCases] ([Id], [CreatedAt], [UpdatedAt], [IsDeleted], [DeletedAt], [IsActive], [UserId], [UseCaseId]) VALUES (1, CAST(N'2020-07-10T23:44:03.9509819' AS DateTime2), NULL, 0, NULL, 1, 1, 1)
INSERT [dbo].[UserUseCases] ([Id], [CreatedAt], [UpdatedAt], [IsDeleted], [DeletedAt], [IsActive], [UserId], [UseCaseId]) VALUES (2, CAST(N'2020-07-10T23:44:03.9511910' AS DateTime2), NULL, 0, NULL, 1, 1, 2)
INSERT [dbo].[UserUseCases] ([Id], [CreatedAt], [UpdatedAt], [IsDeleted], [DeletedAt], [IsActive], [UserId], [UseCaseId]) VALUES (3, CAST(N'2020-07-10T23:44:03.9511982' AS DateTime2), NULL, 0, NULL, 1, 1, 3)
SET IDENTITY_INSERT [dbo].[UserUseCases] OFF
GO
ALTER TABLE [dbo].[Movies] ADD  DEFAULT (N'') FOR [Image]
GO
ALTER TABLE [dbo].[Reservations]  WITH CHECK ADD  CONSTRAINT [FK_Reservations_Screenings_ScreeningId] FOREIGN KEY([ScreeningId])
REFERENCES [dbo].[Screenings] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reservations] CHECK CONSTRAINT [FK_Reservations_Screenings_ScreeningId]
GO
ALTER TABLE [dbo].[Reservations]  WITH CHECK ADD  CONSTRAINT [FK_Reservations_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reservations] CHECK CONSTRAINT [FK_Reservations_Users_UserId]
GO
ALTER TABLE [dbo].[Screenings]  WITH CHECK ADD  CONSTRAINT [FK_Screenings_Auditoriums_AuditoriumId] FOREIGN KEY([AuditoriumId])
REFERENCES [dbo].[Auditoriums] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Screenings] CHECK CONSTRAINT [FK_Screenings_Auditoriums_AuditoriumId]
GO
ALTER TABLE [dbo].[Screenings]  WITH CHECK ADD  CONSTRAINT [FK_Screenings_Movies_MovieId] FOREIGN KEY([MovieId])
REFERENCES [dbo].[Movies] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Screenings] CHECK CONSTRAINT [FK_Screenings_Movies_MovieId]
GO
ALTER TABLE [dbo].[SeatReserved]  WITH CHECK ADD  CONSTRAINT [FK_SeatReserved_Reservations_ReservationId] FOREIGN KEY([ReservationId])
REFERENCES [dbo].[Reservations] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SeatReserved] CHECK CONSTRAINT [FK_SeatReserved_Reservations_ReservationId]
GO
ALTER TABLE [dbo].[SeatReserved]  WITH CHECK ADD  CONSTRAINT [FK_SeatReserved_Screenings_ScreeningId] FOREIGN KEY([ScreeningId])
REFERENCES [dbo].[Screenings] ([Id])
GO
ALTER TABLE [dbo].[SeatReserved] CHECK CONSTRAINT [FK_SeatReserved_Screenings_ScreeningId]
GO
ALTER TABLE [dbo].[SeatReserved]  WITH CHECK ADD  CONSTRAINT [FK_SeatReserved_Seats_SeatId] FOREIGN KEY([SeatId])
REFERENCES [dbo].[Seats] ([Id])
GO
ALTER TABLE [dbo].[SeatReserved] CHECK CONSTRAINT [FK_SeatReserved_Seats_SeatId]
GO
ALTER TABLE [dbo].[Seats]  WITH CHECK ADD  CONSTRAINT [FK_Seats_Auditoriums_AuditoriumId] FOREIGN KEY([AuditoriumId])
REFERENCES [dbo].[Auditoriums] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Seats] CHECK CONSTRAINT [FK_Seats_Auditoriums_AuditoriumId]
GO
ALTER TABLE [dbo].[UserUseCases]  WITH CHECK ADD  CONSTRAINT [FK_UserUseCases_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserUseCases] CHECK CONSTRAINT [FK_UserUseCases_Users_UserId]
GO
