.navbar-brand  {
    font-size: 2.5rem;
}

.nav-link {
    color: white !important;
}

#date {
    border: 1px solid #ced4da;
    border-radius: .25rem;
    height: 2.5rem;
}

.single-movie p{
    margin: 5px 0;
}

.errors {
    display: none;
}

#total {
    font-size: 1.5rem;
}

.log-out:hover{
    text-decoration: none;
}

.list-group-item:hover {
    cursor: pointer;
}


.admin-panel {
    display: none;
}

table .fa:hover {
    cursor: pointer;
}

.log-alert {
    display: none;
}

.log-search-bar {
    display: none;
}
